{% extends 'blog/base.html' %}
{% block content %}
     <div class="container-fluid">
	  	<!-- top section -->
		    <div class="jumbotron text-center bg-secondary ">
		        <h1 class="text-white" >{{doc}}</h1>
		        <p>
		         ~<span class="article-title text-white">{{ technology }}</span><br>
				 ~<span class="article-title text-white">{{ ref }}</span>

		        </p>
		    </div>
		</div>
    <article class="media content-section">
    	
		<div class="media-body">
			<p class="article-content">{{content}}</p>
		</div>
		</article>
		<div class="container text-center">
	    		
	    		<h6>Articles by users</h6>
	    		<p>log in to add yours</p>
	    		
	    		<blockquote class="blockquote">
	    			<p>
	    			BlogAwesome </p>
	    			<footer class="blockquote-footer">
	    				by : <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="{% url 'blog-gallery' %}"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">
	    				{{author}}</span></a>
	    			</footer>
	    		</blockquote>
	    	</div>
{% endblock content %}
