{% extends 'blog/base.html' %}
{% block content %}

<div class="container-fluid">
	  	<!-- top section -->
	    <div class="jumbotron text-center bg-secondary ">
	        <h1 class="text-white" >Blogawesome</h1>
	        <p><span class="article-title text-white">{{ object.title }}</span>
</p>
	    </div>
	</div>
	    <!-- picture section -->
	    <div class="container-fluid">
	    	<!-- if logged in user is clicking on own post show Delete and update btn options-->
	    	{% if object.author == user %}
					
					<a class="btn btn-primary btn-sm  mb-1 mt-1" href="{% url 'post-update' object.id %}"> Update </a>
					<a class="btn btn-danger btn-sm  mb-1 mt-1" href="{% url 'post-delete' object.id %}"> Delete </a>
					<br>
				{% endif %}
	    	
	    	<div class="row">
	    		<div class=" col ">
	    			<div class="card img-fluid" style="width: 100%">
		    			<img id="cardimg" onclick="red();" src="{{ post.author.profile.image.url }}" class="img-thumbnail card-img-top responsive"/>
	    			</div>
	    		</div>
	    		<div class="col" id="cardbody">	    			
	    			
	    			<br>
	    			<br>
	    			<br>
	    			<br>
			    		<p class="article-content">{{ object.content }}</p>
			    </div>
	    	</div>
	    	<br>
	    </div>
	    	<div class="container text-center">
	    		
	    		<h1>Article</h1>
	    		<p><small class="text-primary">{{ object.date_posted}}</small></p>
	    		<blockquote class="blockquote">

	    			<!--adapted from w3 schools-->
	    			<footer class="blockquote-footer">
	    				By : <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="{% url 'user-posts' object.author.username %}"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">
	    				{{ object.author }} 
	    			</span></a>
	    			</footer>
	    		</blockquote>
	    	</div>

{% endblock content %}
	